{% extends "core/profile_base.html" %}

{% block children_content %}

{% with profile=userprofile %}

	<form id="profile-form" method="post" enctype="multipart/form-data">{% csrf_token %}

		<div class="form-group">
			<label class="control-label">Username</label>
			<p class="form-control-static">{{ user.username }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">Email Address</label>
			<p class="form-control-static">{{ user.email }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">On Screen Name</label>
			<p class="form-control-static">{{ profile.on_screen_name }}</p>
		</div>

		<div id="avatar-input" class="form-group row-center margin-between">
			<label class="control-label">Avatar Image</label>
			<img id="preview-avatar" src="{{ profile.avatar_image.url }}"/>
		</div>

	</form>

{% endwith %}

<p>
	{% if rewards_batches %}
		<table style="width:30%">
		<tr>
			<th>No. of Rewards</th>
			<th>Issue Date</th>
			<th>Expiration Date</th>
		</tr>

		{% for batch in rewards_batches %}
		<tr>
			<td>{{ batch.value }}</td>
			<td>{{ batch.issue_date }}</td>
			<td>{{ batch.expiration_date }}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		0 reward currently
	{% endif %}
</p>

<p>
	<a href="{% url 'edit_profile' %}">Edit Profile</a><br/>
	<a href="{% url 'password_change' %}">Change Password</a>
</p>

{% endblock %}